*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}
body {
    opacity: 0;
    animation: fadeIn 1s ease-in-out forwards;
    animation: slideIn 1s ease-in-out forwards;
    animation-delay: 0.5s;
}
@keyframes fadeIn {
    to {
        opacity: 1;
    }
}
@keyframes slideIn {
    to {
        transform: translateX(0);
        opacity: 1;
    }
}


@font-face {
    font-family: "Aileron-Light";
    src: url(Fonts/Aileron-Light.otf);
}

@font-face {
    font-family: "Aileron-Normal";
    src: url(Fonts/Aileron-Regular.otf);
}


@font-face {
    font-family: "Oswald-Light";
    src: url(Fonts/Oswald-Light.ttf);
}

@font-face {
    font-family: "Oswald-Bold";
    src: url(Fonts/Oswald-Bold.ttf);
}


@font-face {
    font-family: "Futura-Light";
    src: url(Fonts/Futura\ Light.otf);
}


@font-face {
    font-family: "Oswald-SemiBold";
    src: url(Fonts/Oswald-SemiBold.ttf);
}
@media screen and (min-width:1024px) {
    nav{
        background-color: white;
        }
      
      nav ul{
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      
      nav li{
          height: 60px;
      
      }
      
      nav a{
          height: 100%;
          padding: 0 30px;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: #5F43B2;
      }
      
      nav a:hover{
          transform: scale(1.1);
          transition: .5s ease-out;
      }
      
      nav li:first-child{
          margin-right: auto;
      }
      .sidebar{
          transform: none;
          transition: none;
          position: fixed;
          top: 0;
          right: 0;
          
          height: 100vh;
          width: 250px;
          z-index: 999;
          background-color: white;
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          
      }   
      
      .sidebar li{
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
      }
      
      .sidebar a{
          width: 100%;
          color: #5F43B2;
          text-decoration: none;
          font-size: 20px;
          font-family: "Oswald-Light";
      }

    .menu-button{
        display: none;
      }





    
    .Pricing-Header{
        width: 100%;
        height: 20vh;
        display: flex;
        flex-direction: column;
        padding: 20px;
    }
    
    .Pricing-Header h1{
        font-family: "Oswald-Bold";
        font-size: 3rem;
        color: #5F43B2;
        text-align: center;
        text-shadow: 5px 5px 20px #00000046;
    }
    
    .Pricing-Header h3{
        font-family: "Oswald-Light";
        font-size: 1.5rem;
        color: #5F43B2;
        text-align: center;
        text-shadow: 5px 5px 20px #00000046;
    }
    .Image-Cards-Wrapper{
        width: 100%;
        height: 100vh;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 50px;
        
    }
    
    .Image-Card1{
        width: 100%;
        height: 100vh;
        display: flex;
        transition-duration: 0.5s;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 400px;
        height: 600px;
        border-radius: 20px;
        padding: 10px;
        margin-bottom: 50px;
        align-items: flex-end;
        box-shadow: 9px 15px 48px 0px rgba(0,0,0,1);
    }
    .Image-Card1 img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }
    
    .Image-Card1:hover{
        transform:scale(1.05);
        transform: translateY(-20px);
        box-shadow:6px 10px 45px 14px rgba(57, 18, 171, 0.39);;
    }
    .Image-Card1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }
    
    .Image-Card1:hover:before{
        opacity: 1;
    }
    
    .Image-Card1 .Card-Content{
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(40px);
        transition: 0.5s all;
        
    }
    
    .Image-Card1:hover .Card-Content{
        opacity: 1;
        transform: translateY(0px);
    }
    
    .Image-Card1 .Card-Content h2{
        font-family: "Oswald-Bold";
        color: #5F43B2;
        font-size: 36px;
        opacity: 1;
    }
    
    .Card-Content{
        height: 50%;
        width: 100%;
        z-index: 1;
        padding: 10px;
        
    }
    .Card-title {
        position: relative;
        width: fit-content;
    }
    
    .Card-description{
        font-family: "futura-Light";
        font-size: 15px;
        width: 100%;
    }
    
    .Pricing-btn{
        border: 2px solid #5F43B2;
        padding: 5px;
        text-decoration: none;
        font-family: "Oswald-SemiBold";
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: right;
       
    }
    
    .Pricing-btn:hover{
        box-shadow:6px 10px 45px 14px rgba(57, 18, 171, 0.39);
        transition: .7s ease-in;
        background-color: #5F43B2;
        color: white;
        cursor: pointer;
    }
    
    .Pricing-Button-container{
        width: 80px;
        float: right;
    }
    
}


/*Mobile Style*/


    .Pricing-Header{
        
        height: 30%;
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        text-align: center;
        
    }

    .pricingheadercontainer{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .Pricing-Header h3{
        width: 300px;
        font-size: 20vh;
    }




    /*nav*/
    nav{
        background-color: white;
        }
      
      nav ul{
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      
      nav li{
          height: 60px;
      
      }
      
      nav a{
          height: 100%;
          padding: 0 30px;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: #5F43B2;
      }
      
      nav a:hover{
          transform: scale(1.1);
          transition: .5s ease-out;
      }
      
      nav li:first-child{
          margin-right: auto;
      }
      .sidebar{
          transform: none;
          transition: none;
          position: fixed;
          top: 0;
          right: 0;
          
          height: 100vh;
          width: 250px;
          z-index: 999;
          background-color: white;
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          
      }   
      
      .sidebar li{
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
      }
      
      .sidebar a{
          width: 100%;
          color: #5F43B2;
          text-decoration: none;
          font-size: 20px;
          font-family: "Oswald-Light";
      }
      
      
      .menu-button{
        display: none;
      }
      
    .hideOnMobile{
        display: none;
    }
    
    .menu-button{
      display:block ;
    }
    
    
    .sidebar{
      display: hidden;
    }
    
    
    nav li{
        height: 100px;
        border: none;
    }



    /*Image Cards*/
    nav{
        background-color: white;
        }
      
      nav ul{
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      
      nav li{
          height: 60px;
      
      }
      
      nav a{
          height: 100%;
          padding: 0 30px;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: #5F43B2;
      }
      
      nav a:hover{
          transform: scale(1.1);
          transition: .5s ease-out;
      }
      
      nav li:first-child{
          margin-right: auto;
      }
      .sidebar{
          transform: none;
          transition: none;
          position: fixed;
          top: 0;
          right: 0;
          
          height: 100vh;
          width: 250px;
          z-index: 999;
          background-color: white;
          box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
          display: flex;
          flex-direction: column;
          align-items: flex-start;
          justify-content: flex-start;
          
      }   
      
      .sidebar li{
          width: 100%;
          list-style: none;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;
          padding: 20px 0;
      }
      
      .sidebar a{
          width: 100%;
          color: #5F43B2;
          text-decoration: none;
          font-size: 20px;
          font-family: "Oswald-Light";
      }
      
      
      .menu-button{
        display: none;
      }
      
    .hideOnMobile{
        display: none;
    }
    
    .menu-button{
      display:block ;
    }
    
    
    .sidebar{
      display: hidden;
    }
    
    
    nav li{
        height: 100px;
        border: none;
    }
/*Pricing section*/
    #Pricing-Section{
        height: 100vh;
        width: 100%;
        display: flex;
        flex-direction: column;

        
    }


    .Pricing-Header{
        height: 30%;
       
        display: flex;
        flex-direction: column;
        padding: 10px;
        text-align: center;
    }

    .Pricing-Header h1{
        font-family: "Oswald-Bold";
        font-size: 40px;
        color: black;
    }


    .Pricing-Header h3{
        font-family: "Futura-Light";
        font-size: 20px;
        color: #5F43B2;
    }

    .Image-Cards-Wrapper{
       
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        transition-duration: 0.5s;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 100%;
        height: 80%;
        margin-bottom: 0px;
        gap: 20px;
        
    }

    .Image-Card1{
        width: 100%;
        height: 100vh;
        display: flex;
        transition-duration: 0.5s;
        overflow: hidden;
        cursor: pointer;
        position: relative;
        width: 70%;
        height: 40%;
        border-radius: 20px;
        padding: 10px;
        padding-top: 20px;
        align-items: flex-end;
        box-shadow: 9px 15px 48px 0px rgba(0,0,0,1);
        
    }

    .Image-Card1 img{
        position: absolute;
        object-fit: cover;
        width: 100%;
        height: 100%;
        top: 0;
        left: 0;
    }

    .Image-Card1::before{
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        display: block;width: 100%;
        height: 100%;
        background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
        z-index: 2;
        transition: 0.5s all;
        opacity: 0;
    }

    .Image-Card1 .Card-Content{
        position: relative;
        z-index: 3;
        color: white;
        opacity: 0;
        transform: translateY(40px);
        transition: 0.5s all;
    }

    .Image-Card1:hover .Card-Content{
        opacity: 1;
        transform: translateY(0px);
    }

    .Image-Card1 .Card-Content h2{
        font-family: "Oswald-Bold";
        color: #5F43B2;
        font-size: 36px;
        opacity: 1;
    }
    
    .Card-Content{
        height: 75%;
        width: 100%;
        z-index: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
       
    }


    .Card-Content h2{
        font-size: 20px;
        
        padding: 10px;
    }




    .Card-title {
        position: relative;
        width: fit-content;
    }


    .Card-Content h2{
        font-size: 20px;
        color: #ffffff;
    }



    .Card-description{
        display: none;
    }

    

    .Pricing-btn{
        border: 2px solid #5F43B2;
        padding: 5px;
        text-decoration: none;
        font-family: "Oswald-SemiBold";
        display: flex;
        justify-content:center;
        align-items:center;
        text-align: right;
        
       
    }

  
    



@media screen and (min-device-width:601px) and (max-device-width:1023px){
    nav{
        background-color: white;
        }
      
      nav ul{
          width: 100%;
          list-style: none;
          display: flex;
          justify-content: flex-end;
          align-items: center;
      }
      
      nav li{
          height: 60px;
      
      }
      
      nav a{
          height: 100%;
          padding: 0 30px;
          display: flex;
          text-decoration: none;
          align-items: center;
          color: #5F43B2;
      }

      nav li:first-child{
        margin-right: auto;
    }
    .sidebar{
        transform: none;
        transition: none;
        position: fixed;
        top: 0;
        right: 0;
        
        height: 100vh;
        width: 250px;
        z-index: 999;
        background-color: white;
        box-shadow: -10px 0 10px rgba(0, 0, 0, 0.1);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: flex-start;
        
    }   
    
    .sidebar li{
        width: 100%;
        list-style: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding: 20px 0;
    }
    
    .sidebar a{
        width: 100%;
        color: #5F43B2;
        text-decoration: none;
        font-size: 20px;
        font-family: "Oswald-Light";
    }
    
    
    .menu-button{
      display: none;
    }
    
  .hideOnMobile{
      display: none;
  }
  
  .menu-button{
    display:block ;
  }
  
  
  .sidebar{
    display: hidden;
  }
  
  
  nav li{
      height: 100px;
      border: none;
  }


  /*under nav*/

  #Pricing-Section{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
}

.Pricing-Header{
    display: flex;
    width: 100%;
    padding: 10px;
    
    
}

.Pricing-Header h1{
    font-family: "Oswald-Bold";
    font-size: 40px;
    color: #363636 ;
    
}


.Pricing-Header h3{
    font-family: "Futura-Light";
    color: #5F43B2;
    font-size: 20px;
}


.Image-Cards-Wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 100%;
    height: 100%;
    
}

.Image-Card1{
    width: 100%;
    height: 100vh;
    display: flex;
    transition-duration: 0.5s;
    overflow: hidden;
    cursor: pointer;
    position: relative;
    width: 400px;
    height: 600px;
    border-radius: 20px;
    padding: 10px;
    margin-bottom: 50px;
    align-items: flex-end;
    box-shadow: 9px 15px 48px 0px rgba(0,0,0,1);
}

.Image-Card1 img{
    position: absolute;
    object-fit: cover;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
}

.Image-Card1:hover{
    transform:scale(1.05);
    transform: translateY(-20px);
    box-shadow:6px 10px 45px 14px rgba(57, 18, 171, 0.39);;
}

.Image-Card1::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    display: block;width: 100%;
    height: 100%;
    background: linear-gradient(0deg, rgba(0,0,0,1) 0%, rgba(0,0,0,0) 100%);
    z-index: 2;
    transition: 0.5s all;
    opacity: 0;
}


.Image-Card1:hover:before{
    opacity: 1;
}

.Image-Card1 .Card-Content{
    position: relative;
    z-index: 3;
    color: white;
    opacity: 0;
    transform: translateY(40px);
    transition: 0.5s all;
    
}

.Image-Card1:hover .Card-Content{
    opacity: 1;
    transform: translateY(0px);
}

.Image-Card1 .Card-Content h2{
    font-family: "Oswald-Bold";
    color: #5F43B2;
    font-size: 36px;
    opacity: 1;
}

.Card-Content{
    height: 50%;
    width: 100%;
    z-index: 1;
    padding: 10px;
}

.Card-title {
    position: relative;
    width: fit-content;
}

.Card-description{
    font-family: "futura-Light";
    font-size: 10px;
    width: 100%;
}

.Pricing-btn{
    border: 2px solid #5F43B2;
    padding: 5px;
    text-decoration: none;
    font-family: "Oswald-SemiBold";
    display: flex;
    justify-content:center;
    align-items:center;
    text-align: right;
}






}

/*Footer*/
footer{
    width: 100%;
    height: 20vh;
    background: radial-gradient(circle at 52.1% -29.6%, rgb(144, 17, 105) 0%, rgb(51, 0, 131) 100.2%);
    border: 1px solid black;
    padding: 10px;
    overflow: hidden;

}

#footer-header{
  
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#footer-header h1{
    font-family: "Oswald-Bold";
    color: white;
    font-size: 20px;
}

#listContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
   
    width: 100%;
    height: fit-content;
    overflow: hidden;
}

#listContainer ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    list-style: none;
    
}

#listContainer ul li{
   
}

#listContainer ul li a{
    text-decoration: none;
    color: white;
    font-family: "Oswald-Light";
    font-size: 12px;
}

#listsocials{
    display: flex;
    flex-direction:column ;
  
    
    height: 100%;
}

#listsocials ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    list-style: none;
   
}

#listsocials ul li{
    display: flex;
    justify-content: center;
    align-items: center;
}

#listsocials img{
    width: 36px; /* Width of the icon */
    height: 36px; /* Height of the icon */
}

